<h1>Panel de Control</h1>
<div class="control-panel">
  <table>
    <tr>
      <td class="etiqueta">Total de tickets:</td>
      <td class="valor"><%= @total_tickets %></td>
      <td class="etiqueta">Tickets abiertos:</td>
      <td class="valor"><%= @tickets_abiertos %></td>
      <td class="etiqueta">Tickets cerrados:</td>
      <td class="valor"><%= @tickets_cerrados %></td>
      <td class="etiqueta">% tickets abiertos:</td>
      <td class="valor"><%= (@tickets_abiertos / @total_tickets) * 100 %>%</td>
    </tr>
  </table>
</div>
<h1>Clientes</h1>
<div class="client-index">
  <div class="row">
    <div class="col-md-6">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Tickets</th>
            <th colspan="4">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @clients.each do |client| %>
            <tr>
              <td><%= client.name %></td>
              <td><%= client.phone %></td>
              <td><%= client.email %></td>
              <td style="text-align:center;"><%= client.tickets.open.count %></td>
              <td>
                <%= link_to client do %>
                  <%= image_tag "eye_open.png", :size => '20x20' %>
                <% end %>
              </td>
              <td>
                <%= link_to edit_client_path(client) do %>
                  <%= image_tag "edit.png", :size => '20x20' %>
                <% end %>
              </td>
              <td>
                <%= link_to client, method: :delete, data: { confirm: '¿Está seguro?' } do %>
                  <%= image_tag "trash_can.png", :size => '20x20' %>
                <% end %>
              </td>
              <td>
                <%= link_to service_path(client) do %>
                  <%= image_tag "screwdriverAdd.png", :size => '20x20' %>
                <% end %>
              </td>

            </tr>  
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <span>
        <%= link_to new_client_path do %>
          <%= image_tag "add.png", :size => '40x40' %>
        <% end %>
      </span>
      <span>
        <%= link_to "Agregar Cliente", new_client_path %>
      </span>
    </div>
  </div>
</div>
<div class="client-tickets">
  
</div>

