<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "errore") %> impiden guardar la nformación:</h2>

      <ul>
        <% client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="tabla-captura">
    <tr>
      <td>Nombre:</td>
      <td><%= form.text_field :name %></td>
    </tr>
    <tr>
      <td>Dirección:</td>
      <td><%= form.text_area :address, size: "32x5" %></td>
    </tr>
    <tr>
      <td>Teléfono:</td>
      <td><%= form.telephone_field :phone %></td>
    </tr>
    <tr>
      <td>E-mail:</td>
      <td><%= form.email_field :email %></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:center;"><%= form.submit %></td>
    </tr>
  </table>

<% end %>
