<%= form_with(model: ticket, local: true) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
        <% ticket.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="tabla-captura">
    <tr>
      <td>Número de Orden:</td>
      <td><%= ticket.order_number %></td>
    </tr>
    <tr>
      <td>Fecha de Orden:</td>
      <td><%= form.date_select :order_date %></td>
    </tr>
    <tr>
      <td>Descripción del equipo:</td>
      <td><%= form.text_area :equipment_descrip, size: "62x5" %></td>
    </tr>
        <tr>
      <td>Password del equipo:</td>
      <td><%= form.text_field :clave_equipment %></td>
    </tr>
    <tr>
      <td>Estado del equipo:</td>
      <td><%= form.text_area :equipment_state, size: "62x5" %></td>
    </tr>
    <tr>
      <td>Observaciones:</td>
      <td><%= form.text_area :observations, size: "62x5"  %></td>
    </tr>
    <tr>
      <td>Diagnóstico:</td>
      <td><%= form.text_area :diagnostic, size: "62x5"  %></td>
    </tr>
    <tr>
      <td>Costo:</td>
      <td><%= form.number_field :cost  %></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:center;">
        <%= form.submit "Guardar Ticket" %>
      </td>
    </tr>
  </table>
  <%= form.hidden_field :client_id, :value => params[:client_id] %>
<% end %>
