
<h1>Ticket del cliente <%= @ticket.client.name %></h1>
<div class="client-show">
  <table>
  <tr>
    <td>No. Orden:</td>
    <td><strong><%= @ticket.order_number %></strong></td>
  </tr>
  <tr>
    <td>Fecha de Orden:</td>
    <td><strong><%= @ticket.order_date %></strong></td>
  </tr>
  <tr>
    <td>Fecha de Orden:</td>
    <td><strong><%= @ticket.order_date %></strong></td>
  </tr>
  <tr>
    <td>Descripción del equipo:</td>
    <td><strong><%= @ticket.equipment_descrip %></strong></td>
  </tr>
  <tr>
    <td>Password del equipo:</td>
    <td><strong><%= @ticket.clave_equipment %></strong></td>
  </tr>
  <tr>
    <td>Estado físico del equipo:</td>
    <td><strong><%= @ticket.equipment_state %></strong></td>
  </tr>
  <tr>
    <td>Observaciones:</td>
    <td><strong><%= @ticket.observations %></strong></td>
  </tr>
  <tr>
    <td>Diagnóstico:</td>
    <td><strong><%= @ticket.diagnostic %></strong></td>
  </tr>
  <tr>
    <td>Costo:</td>
    <td><strong><%= @ticket.cost %></strong></td>
  </tr>
</table>
</div>

