<%= form_with(model: folio, local: true) do |form| %>
  <% if folio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(folio.errors.count, "error") %> prohibited this folio from being saved:</h2>

      <ul>
        <% folio.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="tabla-captura">
    <tr>
      <td>Numero de Folio:</td>
      <td><%= form.number_field :numero_folio %></td>
    </tr>
    <tr>
      <td colspan="2">
        <%= form.submit %>
      </td>
    </tr>
  </table>

<% end %>
